.review-book-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.new-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
}

textarea {
    resize: none;
}